// COLORS
$color_white: #ffffff;
$color_black: #000000;
$color_green:#7ebc3f;
$color_gray_bg: #cccccc;
$color_gray_lite: #908e91;
$color_gray_bg:rgba($color_black,0.6);

// FONTS
$font_family_base: "GothamMedium", sans-serif;
$font_family_title: "GothamBold", sans-serif;
$font_family_nav: "GothamBook", sans-serif;

